body{background-color: #83e509;
color: black;
font-family: "Bebas Neue", system-ui;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button{
    background-color: #64A712;
    color: black;
    font-family: "Bebas Neue", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 60%;
}
